In [3]:
import numpy as np
import pandas as pd

In [15]:
xx = "~/Documents/GitHub/CampaignDonations/Output_Data/All_MoH_Dataframe.csv"

all_moh_1218 = pd.read_csv(xx)
all_moh_1218.head()

,pageid,party,wikidataid,wikititle,name,sex,ethnicity,religion,birth,death,birthplace,deathplace,Number_Sessions_Served,Session_113,Session_114,Session_115,Session_116
0,25016198,R,Q4954892,Bradley_Byrne,Bradley Byrne,male,white,NaN,1955-02-16,NaN,"30.72767,-88.05267",NaN,4,True,True,True,True
1,29218153,R,Q439117,Martha_Roby,Martha Roby,female,white,NaN,1976-07-26,NaN,"32.36167,-86.27917",NaN,4,True,True,True,True
2,407888,R,Q693238,Mike_Rogers_(Alabama_politician),Mike D. Rogers,male,white,protestantism baptist,1958-07-16,NaN,"41.6111,-87.4931",NaN,4,True,True,True,True
3,407889,R,Q672671,Robert_Aderholt,Robert Aderholt,male,white,protestantism methodist,1965-07-22,NaN,"34.23013,-87.61898",NaN,4,True,True,True,True
4,27586834,R,Q1941306,Mo_Brooks,Mo Brooks,male,white,NaN,1954-04-29,NaN,"32.77611,-79.9325",NaN,4,True,True,True,True

In [16]:
all_moh_1218.shape

(500, 17)

In [17]:
def sep_first(df):
    # new data frame with split value columns
    data_names = df["name"].str.split(" ", expand = True).copy()
    frames = [df, data_names]
    df = pd.concat(frames, axis = 1)
    df = column_rename(df,0,"first")
    df = column_rename(df,1,"second")
    df = column_rename(df,2,"third")
    df = column_rename(df,3,"fourth")
    return df

def column_rename(df,old,new):
    df = df.rename(columns = {old: new})
    return df

In [18]:
"""All the code to run the cleaning"""
all_moh_1218 = sep_first(all_moh_1218)
first = all_moh_1218['first'].tolist()
second = all_moh_1218['second'].tolist()
third = all_moh_1218['third'].tolist()
fourth = all_moh_1218['fourth'].tolist()
combines = []
position = 0
for item in range(0,len(first)):
    combines.append([first[position],second[position],third[position],fourth[position]])
    position+=1
for item in combines:
    print (item)
# value value none none
# value wrong value none
# value wrong value wrong
len(combines)
name = []

for item in combines:
    if item[2] == None and item[3] == None:
        name.append([item[0], item[1]])
    if item[2] != None and item[3]== None:
        if "Jr." not in item[2]:
            name.append([item[0],item[2]])
        else:
            name.append([item[0],item[1]])
    if item[2] != None and item[3]!= None:
        if "F." in item[0]:
            name.append([item[1],item[2]])
        else:
            name.append([item[0],item[3]])

firstname = []
lastname = []
num = 0
for item in name:
    firstname.append(item[0])
    lastname.append(item[1])
    
all_moh_1218['first'] = firstname
all_moh_1218['second'] = lastname
all_moh_1218 = column_rename(all_moh_1218,"second", 'last')
all_moh_1218['last'] = all_moh_1218['last'].str.replace(',', '')
all_moh_1218 = all_moh_1218.drop(['third', 'fourth'], axis = 1)

['Bradley', 'Byrne', None, None]
['Martha', 'Roby', None, None]
['Mike', 'D.', 'Rogers', None]
['Robert', 'Aderholt', None, None]
['Mo', 'Brooks', None, None]
['Terri', 'Sewell', None, None]
['Don', 'Young', None, None]
['Ann', 'Kirkpatrick', None, None]
['Ra√∫l', 'M.', 'Grijalva', None]
['Paul', 'Gosar', None, None]
['Matt', 'Salmon', None, None]
['David', 'Schweikert', None, None]
['Trent', 'Franks', None, None]
['Kyrsten', 'Sinema', None, None]
['Rick', 'Crawford', None, None]
['Steve', 'Womack', None, None]
['Doug', 'LaMalfa', None, None]
['Jared', 'Huffman', None, None]
['John', 'Garamendi', None, None]
['Tom', 'McClintock', None, None]
['Mike', 'Thompson', None, None]
['Doris', 'Matsui', None, None]
['Ami', 'Bera', None, None]
['Paul', 'Cook', None, None]
['Jerry', 'McNerney', None, None]
['Jeff', 'Denham', None, None]
['Nancy', 'Pelosi', None, None]
['Barbara', 'Lee', None, None]
['Jackie', 'Speier', None, None]
['Eric', 'Swalwell', None, None]
['Jim', 'Costa', None, None]
['Mike', 'Honda', None, None]
['Anna', 'G.', 'Eshoo', None]
['Zoe', 'Lofgren', None, None]
['Sam', 'Farr', None, None]
['David', 'Valadao', None, None]
['Devin', 'Nunes', None, None]
['Kevin', 'McCarthy', None, None]
['Lois', 'Capps', None, None]
['Julia', 'Brownley', None, None]
['Judy', 'Chu', None, None]
['Adam', 'Schiff', None, None]
['Tony', 'Cardenas', None, None]
['Brad', 'Sherman', None, None]
['Grace', 'Napolitano', None, None]
['Xavier', 'Becerra', None, None]
['Raul', 'Ruiz', None, None]
['Karen', 'Bass', None, None]
['Linda', 'S√°nchez', None, None]
['Edward', 'R.', 'Royce', None]
['Lucille', 'Roybal-Allard', None, None]
['Mark', 'Takano', None, None]
['Ken', 'Calvert', None, None]
['Maxine', 'Waters', None, None]
['Janice', 'Hahn', None, None]
['Loretta', 'Sanchez', None, None]
['Alan', 'Lowenthal', None, None]
['Dana', 'Rohrabacher', None, None]
['Darrell', 'Issa', None, None]
['Duncan', 'Hunter', None, None]
['Juan', 'Vargas', None, None]
['Scott', 'Peters', None, None]
['Susan', 'Davis', None, None]
['Diana', 'DeGette', None, None]
['Jared', 'Polis', None, None]
['Scott', 'Tipton', None, None]
['Doug', 'Lamborn', None, None]
['Mike', 'Coffman', None, None]
['Ed', 'Perlmutter', None, None]
['John', 'Larson', None, None]
['Joe', 'Courtney', None, None]
['Rosa', 'L.', 'DeLauro', None]
['Jim', 'Himes', None, None]
['Elizabeth', 'Esty', None, None]
['John', 'Carney', None, None]
['Jeff', 'Miller', None, None]
['Ted', 'Yoho', None, None]
['Ander', 'Crenshaw', None, None]
['Corrine', 'Brown', None, None]
['Ron', 'DeSantis', None, None]
['John', 'L.', 'Mica', None]
['Bill', 'Posey', None, None]
['Alan', 'Grayson', None, None]
['Daniel', 'Webster', None, None]
['Rich', 'Nugent', None, None]
['Gus', 'Bilirakis', None, None]
['David', 'Jolly', None, None]
['Kathy', 'Castor', None, None]
['Dennis', 'Ross', None, None]
['Vern', 'Buchanan', None, None]
['Tom', 'Rooney', None, None]
['Patrick', 'Murphy', None, None]
['Curt', 'Clawson', None, None]
['Alcee', 'L.', 'Hastings', None]
['Ted', 'Deutch', None, None]
['Lois', 'Frankel', None, None]
['Debbie', 'Wasserman', 'Schultz', None]
['Frederica', 'Wilson', None, None]
['Mario', 'Diaz-Balart', None, None]
['Ileana', 'Ros-Lehtinen', None, None]
['Sanford', 'D.', 'Bishop,', 'Jr.']
['Hank', 'Johnson', None, None]
['John', 'Lewis', None, None]
['Tom', 'Price', None, None]
['Rob', 'Woodall', None, None]
['Austin', 'Scott', None, None]
['Doug', 'Collins', None, None]
['David', 'Scott', None, None]
['Tom', 'Graves', None, None]
['Colleen', 'Hanabusa', None, None]
['Tulsi', 'Gabbard', None, None]
['Raul', 'Labrador', None, None]
['Michael', 'K.', 'Simpson', None]
['Bobby', 'Rush', None, None]
['Robin', 'Kelly', None, None]
['Dan', 'Lipinski', None, None]
['Luis', 'V.', 'Gutierrez', None]
['Michael', 'Quigley', None, None]
['Peter', 'Roskam', None, None]
['Danny', 'K.', 'Davis', None]
['Tammy', 'Duckworth', None, None]
['Janice', 'D.', 'Schakowsky', None]
['Brad', 'Schneider', None, None]
['Bill', 'Foster', None, None]
['Rodney', 'L.', 'Davis', None]
['Randy', 'Hultgren', None, None]
['John', 'Shimkus', None, None]
['Adam', 'Kinzinger', None, None]
['Cheri', 'Bustos', None, None]
['Aaron', 'Schock', None, None]
['Peter', 'J.', 'Visclosky', None]
['Jackie', 'Walorski', None, None]
['Marlin', 'Stutzman', None, None]
['Todd', 'Rokita', None, None]
['Susan', 'Brooks', None, None]
['Luke', 'Messer', None, None]
['Andr√©', 'Carson', None, None]
['Larry', 'Bucshon', None, None]
['Todd', 'Young', None, None]
['David', 'Loebsack', None, None]
['Steve', 'King', None, None]
['Tim', 'Huelskamp', None, None]
['Lynn', 'Jenkins', None, None]
['Kevin', 'Yoder', None, None]
['Mike', 'Pompeo', None, None]
['Ed', 'Whitfield', None, None]
['Brett', 'Guthrie', None, None]
['John', 'Yarmuth', None, None]
['Thomas', 'Massie', None, None]
['Hal', 'Rogers', None, None]
['Andy', 'Barr', None, None]
['Steve', 'Scalise', None, None]
['Cedric', 'Richmond', None, None]
['Charles', 'Boustany', None, None]
['John', 'Fleming', None, None]
['Chellie', 'Pingree', None, None]
['Andrew', 'Harris', None, None]
['Dutch', 'Ruppersberger', None, None]
['John', 'Sarbanes', None, None]
['Donna', 'Edwards', None, None]
['Steny', 'H.', 'Hoyer', None]
['John', 'Delaney', None, None]
['Elijah', 'Cummings', None, None]
['Chris', 'Van', 'Hollen', None]
['Richard', 'E.', 'Neal', None]
['Jim', 'McGovern', None, None]
['Niki', 'Tsongas', None, None]
['Joseph', 'P.', 'Kennedy', 'III']
['Katherine', 'Clark', None, None]
['Mike', 'Capuano', None, None]
['Stephen', 'Lynch', None, None]
['William', 'Keating', None, None]
['Dan', 'Benishek', None, None]
['Bill', 'Huizenga', None, None]
['Justin', 'Amash', None, None]
['Dan', 'Kildee', None, None]
['Fred', 'Upton', None, None]
['Tim', 'Walberg', None, None]
['Sander', 'M.', 'Levin', None]
['Candice', 'S.', 'Miller', None]
['John', 'Conyers,', 'Jr.', None]
['Tim', 'Walz', None, None]
['John', 'Kline', None, None]
['Erik', 'Paulsen', None, None]
['Betty', 'McCollum', None, None]
['Keith', 'Ellison', None, None]
['Collin', 'C.', 'Peterson', None]
['Richard', 'Nolan', None, None]
['Alan', 'Nunnelee', None, None]
['Bennie', 'G.', 'Thompson', None]
['Gregg', 'Harper', None, None]
['Steven', 'Palazzo', None, None]
['William', 'Lacy', 'Clay,', 'Jr.']
['Ann', 'Wagner', None, None]
['Blaine', 'Luetkemeyer', None, None]
['Vicky', 'Hartzler', None, None]
['Emanuel', 'Cleaver', None, None]
['Sam', 'Graves', None, None]
['Bill', 'Long', None, None]
['Jason', 'T.', 'Smith', None]
['Jeff', 'Fortenberry', None, None]
['Adrian', 'Smith', None, None]
['Dina', 'Titus', None, None]
['Mark', 'Amodei', None, None]
['Joe', 'Heck', None, None]
['Steven', 'Horsford', None, None]
['Carol', 'Shea-Porter', None, None]
['Ann', 'McLane', 'Kuster', None]
['Donald', 'Norcross', None, None]
['Frank', 'LoBiondo', None, None]
['Chris', 'Smith', None, None]
['Frank', 'Pallone', None, None]
['Leonard', 'Lance', None, None]
['Albio', 'Sires', None, None]
['Bill', 'Pascrell,', 'Jr.', None]
['Donald', 'Payne', 'Jr.', None]
['Rodney', 'Frelinghuysen', None, None]
['Michelle', 'Lujan', 'Grisham', None]
['Steve', 'Pearce', None, None]
['Ben', 'Lujan', None, None]
['Peter', 'T.', 'King', None]
['Steve', 'Israel', None, None]
['Gregory', 'W.', 'Meeks', None]
['Grace', 'Meng', None, None]
['Nydia', 'M.', 'Vel√°zquez', None]
['Hakeem', 'Jeffries', None, None]
['Yvette', 'D.', 'Clarke', None]
['Jerrold', 'Nadler', None, None]
['Michael', 'Grimm', None, None]
['Carolyn', 'B.', 'Maloney', None]
['Charles', 'B.', 'Rangel', None]
['Joseph', 'Crowley', None, None]
['Jos√©', 'E.', 'Serrano', None]
['Eliot', 'L.', 'Engel', None]
['Nita', 'M.', 'Lowey', None]
['Sean', 'Patrick', 'Maloney', None]
['Chris', 'Gibson', None, None]
['Paul', 'Tonko', None, None]
['Richard', 'Hanna', None, None]
['Tom', 'Reed', None, None]
['Louise', 'Slaughter', None, None]
['Brian', 'Higgins', None, None]
['Chris', 'Collins', None, None]
['G.', 'K.', 'Butterfield', None]
['Renee', 'Ellmers', None, None]
['Walter', 'B.', 'Jones', None]
['David', 'Price', None, None]
['Virginia', 'Foxx', None, None]
['Richard', 'Hudson', None, None]
['Robert', 'Pittenger', None, None]
['Patrick', 'McHenry', None, None]
['Mark', 'Meadows', None, None]
['Alma', 'Adams', None, None]
['George', 'Holding', None, None]
['Kevin', 'Cramer', None, None]
['Steve', 'Chabot', None, None]
['Brad', 'Wenstrup', None, None]
['Joyce', 'Beatty', None, None]
['Jim', 'Jordan', None, None]
['Bob', 'Latta', None, None]
['Bill', 'Johnson', None, None]
['Bob', 'Gibbs', None, None]
['John', 'A.', 'Boehner', None]
['Marcy', 'Kaptur', None, None]
['Mike', 'Turner', None, None]
['Marcia', 'Fudge', None, None]
['Pat', 'Tiberi', None, None]
['Tim', 'Ryan', None, None]
['David', 'Joyce', None, None]
['Steve', 'Stivers', None, None]
['Jim', 'Renacci', None, None]
['Jim', 'Bridenstine', None, None]
['Markwayne', 'Mullin', None, None]
['Frank', 'Lucas', None, None]
['Tom', 'Cole', None, None]
['Suzanne', 'Bonamici', None, None]
['Greg', 'Walden', None, None]
['Earl', 'Blumenauer', None, None]
['Peter', 'A.', 'DeFazio', None]
['Kurt', 'Schrader', None, None]
['Bob', 'Brady', None, None]
['Chaka', 'Fattah', None, None]
['Mike', 'Kelly', None, None]
['Scott', 'Perry', None, None]
['Glenn', 'Thompson', None, None]
['Pat', 'Meehan', None, None]
['Mike', 'Fitzpatrick', None, None]
['Bill', 'Shuster', None, None]
['Tom', 'Marino', None, None]
['Lou', 'Barletta', None, None]
['Keith', 'Rothfus', None, None]
['Michael', 'F.', 'Doyle', None]
['Charlie', 'Dent', None, None]
['Joseph', 'R.', 'Pitts', None]
['Matt', 'Cartwright', None, None]
['Tim', 'Murphy', None, None]
['David', 'Cicilline', None, None]
['James', 'Langevin', None, None]
['Mark', 'Sanford', None, None]
['Joe', 'Wilson', None, None]
['Jeff', 'Duncan', None, None]
['Trey', 'Gowdy', None, None]
['Mick', 'Mulvaney', None, None]
['James', 'E.', 'Clyburn', None]
['Tom', 'Rice', None, None]
['Kristi', 'Noem', None, None]
['Phil', 'Roe', None, None]
['John', 'J.', 'Duncan,', 'Jr.']
['Chuck', 'Fleischmann', None, None]
['Scott', 'DesJarlais', None, None]
['Jim', 'Cooper', None, None]
['Diane', 'Black', None, None]
['Marsha', 'Blackburn', None, None]
['Stephen', 'Fincher', None, None]
['Steve', 'Cohen', None, None]
['Louie', 'Gohmert', None, None]
['Ted', 'Poe', None, None]
['Sam', 'Johnson', None, None]
['Jeb', 'Hensarling', None, None]
['Joe', 'Barton', None, None]
['John', 'Culberson', None, None]
['Kevin', 'Brady', None, None]
['Al', 'Green', None, None]
['Michael', 'McCaul', None, None]
['Mike', 'Conaway', None, None]
['Kay', 'Granger', None, None]
['Mac', 'Thornberry', None, None]
['Randy', 'Weber', None, None]
['Rub√©n', 'Hinojosa', None, None]
['Beto', "O'Rourke", None, None]
['Bill', 'Flores', None, None]
['Sheila', 'Jackson-Lee', None, None]
['Randy', 'Neugebauer', None, None]
['Joaquin', 'Castro', None, None]
['Lamar', 'S.', 'Smith', None]
['Pete', 'Olson', None, None]
['Kenny', 'Marchant', None, None]
['Roger', 'Williams', None, None]
['Michael', 'C.', 'Burgess', None]
['Blake', 'Farenthold', None, None]
['Henry', 'Cuellar', None, None]
['Gene', 'Green', None, None]
['Eddie', 'Bernice', 'Johnson', None]
['John', 'Carter', None, None]
['Pete', 'Sessions', None, None]
['Marc', 'Veasey', None, None]
['Filemon', 'Vela', 'Jr.', None]
['Lloyd', 'Doggett', None, None]
['Rob', 'Bishop', None, None]
['Chris', 'Stewart', None, None]
['Jason', 'Chaffetz', None, None]
['Peter', 'Welch', None, None]
['Rob', 'Wittman', None, None]
['Scott', 'Rigell', None, None]
['Robert', 'C.', 'Scott', None]
['Randy', 'Forbes', None, None]
['Robert', 'Hurt', None, None]
['Bob', 'Goodlatte', None, None]
['Dave', 'Brat', None, None]
['Morgan', 'Griffith', None, None]
['Gerry', 'Connolly', None, None]
['Suzan', 'DelBene', None, None]
['Rick', 'Larsen', None, None]
['Jaime', 'Herrera', 'Beutler', None]
['Cathy', 'McMorris', None, None]
['Derek', 'Kilmer', None, None]
['Jim', 'McDermott', None, None]
['Dave', 'Reichert', None, None]
['Adam', 'Smith', None, None]
['Dennis', 'Heck', None, None]
['David', 'McKinley', None, None]
['Paul', 'Ryan', None, None]
['Mark', 'Pocan', None, None]
['Ron', 'Kind', None, None]
['Gwen', 'Moore', None, None]
['F.', 'James', 'Sensenbrenner,', 'Jr.']
['Sean', 'Duffy', None, None]
['Reid', 'Ribble', None, None]
['Cynthia', 'Lummis', None, None]
['Eleanor', 'Holmes', 'Norton', None]
['Madeleine', 'Z.', 'Bordallo', None]
['Gregorio', 'C.', 'Sablan', None]
['Pedro', 'Pierluisi', None, None]
['Gary', 'Palmer', None, None]
['Martha', 'McSally', None, None]
['Ruben', 'Gallego', None, None]
['French', 'Hill', None, None]
['Bruce', 'Westerman', None, None]
['Mark', 'DeSaulnier', None, None]
['Steve', 'Knight', None, None]
['Pete', 'Aguilar', None, None]
['Ted', 'Lieu', None, None]
['Norma', 'Torres', None, None]
['Mimi', 'Walters', None, None]
['Ken', 'Buck', None, None]
['Carlos', 'Curbelo', None, None]
['Buddy', 'Carter', None, None]
['Jody', 'Hice', None, None]
['Barry', 'Loudermilk', None, None]
['Rick', 'Allen', None, None]
['Mike', 'Bost', None, None]
['Darin', 'LaHood', None, None]
['Rod', 'Blum', None, None]
['David', 'Young', None, None]
['James', 'Comer', None, None]
['Ralph', 'Abraham', None, None]
['Garret', 'Graves', None, None]
['Bruce', 'Poliquin', None, None]
['Seth', 'Moulton', None, None]
['John', 'Moolenaar', None, None]
['Mike', 'Bishop', None, None]
['Dave', 'Trott', None, None]
['Debbie', 'Dingell', None, None]
['Brenda', 'Lawrence', None, None]
['Tom', 'Emmer', None, None]
['Trent', 'Kelly', None, None]
['Ryan', 'Zinke', None, None]
['Tom', 'MacArthur', None, None]
['Josh', 'Gottheimer', None, None]
['Bonnie', 'Watson', 'Coleman', None]
['Lee', 'Zeldin', None, None]
['Kathleen', 'Rice', None, None]
['Dan', 'Donovan', None, None]
['Elise', 'Stefanik', None, None]
['John', 'Katko', None, None]
['Mark', 'Walker', None, None]
['David', 'Rouzer', None, None]
['Warren', 'Davidson', None, None]
['Steve', 'Russell', None, None]
['Dwight', 'Evans', None, None]
['Ryan', 'Costello', None, None]
['Brendan', 'Boyle', None, None]
['John', 'Ratcliffe', None, None]
['Will', 'Hurd', None, None]
['Brian', 'Babin', None, None]
['Mia', 'Love', None, None]
['Don', 'Beyer', None, None]
['Barbara', 'Comstock', None, None]
['Dan', 'Newhouse', None, None]
['Alex', 'Mooney', None, None]
['Evan', 'Jenkins', None, None]
['Glenn', 'Grothman', None, None]
['Amata', 'Coleman', 'Radewagen', None]
['Stacey', 'Plaskett', None, None]
['Tom', "O'Halleran", None, None]
['Andy', 'Biggs', None, None]
['Debbie', 'Lesko', None, None]
['Ro', 'Khanna', None, None]
['Jimmy', 'Panetta', None, None]
['Salud', 'Carbajal', None, None]
['Jimmy', 'Gomez', None, None]
['Nanette', 'Barrag√°n', None, None]
['Lou', 'Correa', None, None]
['Lisa', 'Blunt', 'Rochester', None]
['Matt', 'Gaetz', None, None]
['Neal', 'Dunn', None, None]
['John', 'Rutherford', None, None]
['Al', 'Lawson', None, None]
['Stephanie', 'Murphy', None, None]
['Darren', 'Soto', None, None]
['Val', 'Demings', None, None]
['Charlie', 'Crist', None, None]
['Brian', 'Mast', None, None]
['Francis', 'Rooney', None, None]
['Drew', 'Ferguson', None, None]
['Raja', 'Krishnamoorthi', None, None]
['Jim', 'Banks', None, None]
['Trey', 'Hollingsworth', None, None]
['Roger', 'Marshall', None, None]
['Ron', 'Estes', None, None]
['Clay', 'Higgins', None, None]
['Mike', 'Johnson', None, None]
['Anthony', 'G.', 'Brown', None]
['Jamie', 'Raskin', None, None]
['Jack', 'Bergman', None, None]
['Paul', 'Mitchell', None, None]
['Greg', 'Gianforte', None, None]
['Don', 'Bacon', None, None]
['Thomas', 'Suozzi', None, None]
['Adriano', 'Espaillat', None, None]
['Joseph', 'D.', 'Morelle', None]
['Ted', 'Budd', None, None]
['Troy', 'Balderson', None, None]
['Kevin', 'Hern', None, None]
['Mary', 'Gay', 'Scanlon', None]
['Brian', 'Fitzpatrick', None, None]
['Susan', 'Wild', None, None]
['Lloyd', 'Smucker', None, None]
['Conor', 'Lamb', None, None]
['Ralph', 'Norman', None, None]
['David', 'Kustoff', None, None]
['Vicente', 'Gonz√°lez', None, None]
['Jodey', 'Arrington', None, None]
['Michael', 'Cloud', None, None]
['John', 'Curtis', None, None]
['Donald', 'McEachin', None, None]
['Pramila', 'Jayapal', None, None]
['Mike', 'Gallagher', None, None]
['Liz', 'Cheney', None, None]
['Jenniffer', 'Gonz√°lez', None, None]

In [27]:
all_moh_1218.head()

,pageid,party,wikidataid,wikititle,name,sex,ethnicity,religion,birth,death,birthplace,deathplace,Number_Sessions_Served,Session_113,Session_114,Session_115,Session_116,first,last
0,25016198,R,Q4954892,Bradley_Byrne,Bradley Byrne,male,white,NaN,1955-02-16,NaN,"30.72767,-88.05267",NaN,4,True,True,True,True,Bradley,Byrne
1,29218153,R,Q439117,Martha_Roby,Martha Roby,female,white,NaN,1976-07-26,NaN,"32.36167,-86.27917",NaN,4,True,True,True,True,Martha,Roby
2,407888,R,Q693238,Mike_Rogers_(Alabama_politician),Mike D. Rogers,male,white,protestantism baptist,1958-07-16,NaN,"41.6111,-87.4931",NaN,4,True,True,True,True,Mike,Rogers
3,407889,R,Q672671,Robert_Aderholt,Robert Aderholt,male,white,protestantism methodist,1965-07-22,NaN,"34.23013,-87.61898",NaN,4,True,True,True,True,Robert,Aderholt
4,27586834,R,Q1941306,Mo_Brooks,Mo Brooks,male,white,NaN,1954-04-29,NaN,"32.77611,-79.9325",NaN,4,True,True,True,True,Mo,Brooks

In [23]:
# Load Bloomberg and Citadel Data 

cc = "~/Documents/GitHub/CampaignDonations/Output_Data/Donation_Data_Bloomberg.csv"
dd = "~/Documents/GitHub/CampaignDonations/Output_Data/Donation_Data_Citadel.csv"


Bloomberg = pd.read_csv(cc)
Citadel = pd.read_csv(cc)

# Change names of donation columns 
Bloomberg = column_rename(Bloomberg, 'donations2012', 'Bloomberg_donations2012')
Bloomberg = column_rename(Bloomberg, 'donations2014', 'Bloomberg_donations2014')
Bloomberg = column_rename(Bloomberg, 'donations2016', 'Bloomberg_donations2016')
Bloomberg = column_rename(Bloomberg, 'donations2018', 'Bloomberg_donations2018')

Citadel = column_rename(Citadel, 'donations2012', 'Citadel_donations2012')
Citadel = column_rename(Citadel, 'donations2014', 'Citadel_donations2014')
Citadel = column_rename(Citadel, 'donations2016', 'Citadel_donations2016')
Citadel = column_rename(Citadel, 'donations2018', 'Citadel_donations2018')

In [31]:
# Create an ID to be able to merge with MOH DAta
Bloomberg["ID_NameParty"] = Bloomberg["first"]+ Bloomberg["last"] + Bloomberg["party"]
Bloomberg = Bloomberg.drop(columns  = ["first", "last"])

Bloomberg.head()

,party,Bloomberg_donations2012,Bloomberg_donations2014,Bloomberg_donations2016,Bloomberg_donations2018,ID_NameParty
0,D,5250.0,5200.0,0.0,0.0,ElizabethEstyD
1,D,5000.0,0.0,0.0,0.0,KathrynBoockvarD
2,D,5000.0,2600.0,10800.0,18100.0,NitaLoweyD
3,D,5000.0,0.0,0.0,0.0,RichardBeckerD
4,D,5000.0,0.0,0.0,0.0,SteveIsraelD

In [32]:
# Create an ID to be able to merge with MOH DAta
Citadel["ID_NameParty"] = Citadel["first"]+ Citadel["last"] + Citadel["party"]
Citadel =Citadel.drop(columns  = ["first", "last"])
Citadel.head()

,party,Citadel_donations2012,Citadel_donations2014,Citadel_donations2016,Citadel_donations2018,ID_NameParty
0,D,5250.0,5200.0,0.0,0.0,ElizabethEstyD
1,D,5000.0,0.0,0.0,0.0,KathrynBoockvarD
2,D,5000.0,2600.0,10800.0,18100.0,NitaLoweyD
3,D,5000.0,0.0,0.0,0.0,RichardBeckerD
4,D,5000.0,0.0,0.0,0.0,SteveIsraelD

In [33]:
# Create an ID to be able to merge with Donation DAta
all_moh_1218["ID_NameParty"] = all_moh_1218["first"]+ all_moh_1218["last"] + all_moh_1218["party"]

all_moh_1218.head()

,pageid,party,wikidataid,wikititle,name,sex,ethnicity,religion,birth,death,birthplace,deathplace,Number_Sessions_Served,Session_113,Session_114,Session_115,Session_116,first,last,ID_NameParty
0,25016198,R,Q4954892,Bradley_Byrne,Bradley Byrne,male,white,NaN,1955-02-16,NaN,"30.72767,-88.05267",NaN,4,True,True,True,True,Bradley,Byrne,BradleyByrneR
1,29218153,R,Q439117,Martha_Roby,Martha Roby,female,white,NaN,1976-07-26,NaN,"32.36167,-86.27917",NaN,4,True,True,True,True,Martha,Roby,MarthaRobyR
2,407888,R,Q693238,Mike_Rogers_(Alabama_politician),Mike D. Rogers,male,white,protestantism baptist,1958-07-16,NaN,"41.6111,-87.4931",NaN,4,True,True,True,True,Mike,Rogers,MikeRogersR
3,407889,R,Q672671,Robert_Aderholt,Robert Aderholt,male,white,protestantism methodist,1965-07-22,NaN,"34.23013,-87.61898",NaN,4,True,True,True,True,Robert,Aderholt,RobertAderholtR
4,27586834,R,Q1941306,Mo_Brooks,Mo Brooks,male,white,NaN,1954-04-29,NaN,"32.77611,-79.9325",NaN,4,True,True,True,True,Mo,Brooks,MoBrooksR

In [34]:
MoH_Vote_Data = pd.merge(all_moh_1218 , Bloomberg , on = "ID_NameParty", how='left')

MoH_Vote_Data = pd.merge(MoH_Vote_Data , Citadel , on = "ID_NameParty", how='left')

(500, 30)

In [38]:
sample = MoH_Vote_Data.loc[MoH_Vote_Data['Number_Sessions_Served'] == 4.0]

In [42]:
sample.to_csv("Donation_MoH_Bloomberg_Citadel_NEW.csv",index = False)

In [24]:
test_merge = pd.merge(Bloomberg , all_moh_1218, how="outer")
test_merge.head()

,first,last,party,Bloomberg_donations2012,Bloomberg_donations2014,Bloomberg_donations2016,Bloomberg_donations2018,pageid,wikidataid,wikititle,...,religion,birth,death,birthplace,deathplace,Number_Sessions_Served,Session_113,Session_114,Session_115,Session_116
0,Elizabeth,Esty,D,5250.0,5200.0,0.0,0.0,36733622.0,Q3090454,Elizabeth_Esty,...,NaN,1959-08-25,NaN,"41.88333,-87.8",NaN,3.0,True,True,True,NaN
1,Kathryn,Boockvar,D,5000.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nita,Lowey,D,5000.0,2600.0,10800.0,18100.0,963528.0,Q460652,Nita_Lowey,...,judaism,1937-07-05,NaN,"40.67,-73.94",NaN,4.0,True,True,True,True
3,Richard,Becker,D,5000.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Steve,Israel,D,5000.0,0.0,0.0,0.0,966522.0,Q2096271,Steve_Israel,...,judaism,1958-05-30,NaN,"40.69278,-73.99028",NaN,2.0,True,True,NaN,NaN

In [25]:
test_merge.shape

(690, 23)

In [10]:
test_merge = pd.merge(Citadel, test_merge, how="outer")
test_merge.head()

,first,last,party,Citadel_donations2012,Citadel_donations2014,Citadel_donations2016,Citadel_donations2018,Bloomberg_donations2012,Bloomberg_donations2014,Bloomberg_donations2016,...,religion,birth,death,birthplace,deathplace,Number_Sessions_Served,Session_113,Session_114,Session_115,Session_116
0,Elizabeth,Esty,D,5250.0,5200.0,0.0,0.0,5250.0,5200.0,0.0,...,NaN,1959-08-25,NaN,"41.88333,-87.8",NaN,3.0,True,True,True,NaN
1,Kathryn,Boockvar,D,5000.0,0.0,0.0,0.0,5000.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nita,Lowey,D,5000.0,2600.0,10800.0,18100.0,5000.0,2600.0,10800.0,...,judaism,1937-07-05,NaN,"40.67,-73.94",NaN,4.0,True,True,True,True
3,Richard,Becker,D,5000.0,0.0,0.0,0.0,5000.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Steve,Israel,D,5000.0,0.0,0.0,0.0,5000.0,0.0,0.0,...,judaism,1958-05-30,NaN,"40.69278,-73.99028",NaN,2.0,True,True,NaN,NaN

In [11]:
sample = test_merge.loc[test_merge['Number_Sessions_Served'] == 4.0]

In [13]:
sample.to_csv("Donation_MoH_Bloomberg_Citadel.csv",index = False)

(854, 23)

(537, 7)

(500, 19)

In [1]:
#sample.reset_index()